#Chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chatList {
  flex: 1;
  padding: 0.5em;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;;
}

.chatInput {
  display: flex;
}

.chatUsername {
  display: flex;
  background-color: #ae4942;
  color: white;
  padding: 0.5em;
}

.chatUsername label {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.username {
  display: flex;
  margin-top: 0.5em;
}

#Chat input {
  flex: 100%;
}

.chatInput button,
.username button {
  background-color: #4271ae;
  color: white;
  letter-spacing: 0.05em;
}

.chatInput input {
  border-top: 2px solid #4d4d4c;
  transition: 0.25s;
}

.chatInput input:focus {
  border-top-color: #4271ae;
}

.message {
  padding: 0.5em;
  background-color: #eee;
  margin-bottom: 0.25em;
  align-self: flex-start;
  border-radius: 3px;
}

.message.me {
  align-self: flex-end;
}

.message .text {
  margin-bottom: 0.25em;

}

.message .info {
  font-size: .75em;
  color: #666;
}
