*,
*:before,
*:after {
  box-sizing: border-box;
  ;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
}

header {
  background-color: #4271ae;
  color: white;
  padding: 1em 2em;
}

header h1 {
  margin: 0;
}

button,
input {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  border: none;
  background-color: white;
  padding: 0.5em 0.75em;
  outline: none;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}

.error {
  color: #ae4942;
}

.radius-left {
  border-radius: 3px 0 0 3px;
}

.radius-right {
  border-radius: 0 3px 3px 0;
}

.radius-none {
  border-radius: 0;
}

#render {
  flex: 1;
  display: flex;
}

.main {
  flex: 1;
  flex-direction: column;
  display: flex;
}

.content {
  background-color: #FFF;
  display: flex;
  flex: 1;
  justify-content: center;
}

.create-workspace {
  align-self: center;
  text-align: center;
  font-size: 24px;
}

.create-new {
  background-color: #42a7ae;
  color: white;
  width: 100%;
}

.create-or {
  font-size: 1.125em;
  margin: 1em 0;
}

.join {
  background-color: #4942ae;
  color: white;
}

.join-url {
  background-color: #EEEEEE;
}
